.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f3cba5;
    padding: 20px; 
  }
  
  .custom-card {
    background-color: #975a5e;
    border-radius: 15px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 400px; 
    width: 100%; }
  
  .custom-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); 
  }
  
  .card-header {
    background-color: #453953;
    color: white;
    font-weight: bold;
    font-size: 1.25rem; 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
    padding: 10px; 
  }
  
  .card-title {
    color: white;
    font-weight: 500;
    margin-bottom: 10px; 
  }
  
  .card-text {
    color: #eeedbe;
    margin-bottom: 20px; 
  }
  
  .google-button {
    background-color: #25161b;
    color: white;
    border: none;
    border-radius: 8px; 
    padding: 12px 18px; 
    font-weight: 600; 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; 
  }
  
  .google-button:hover {
    background-color: #453953;
    transform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); 
  }
  
  .text-muted {
    color: #eeedbe;
    font-style: italic; 
  }
  body{
    background-color: #f3cba5;
  }
  